body {
    background-color: lightblue;
}

.center {
    margin: auto;
    width: 75%;
    text-align: center;
    padding: 10px;
}

.input-field label {
    color: black;
}

.collapsible-body {
    background-color: white;
}

.nav-wrapper {
    background-color: teal;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}